/*----------------------GENERELL STYLING FÖR HELA WEBBSIDAN-----------------------*/
html {
    scroll-behavior: smooth;
  }

body {
        margin: 0;
        padding: 0;
        background-color: #000;
        display: flex; 
        flex-direction: column;
        color: #fff;
        font-family: "roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
}

main {
    width: 100%;
    margin: auto;
    margin: 0;
}

/* HEADER: Header */
header {
    position: sticky;
    top: 0;
    z-index: 8;
    background-color: #000;
    }

header a {
    position: relative;
    text-decoration: none;
    color: white;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
}

header a::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 2px;
	background: #fff;
	transition: .3s;
}

header a:hover::before {
	width: 100%;
}

/* HEADER: Navbar */
.navbar {
    width: 100%;
    height: 130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* HEADER: Navbar: Skulptören logotyp */
.navbar .logo {
    list-style-type: none;
    padding-left: 32px;
    padding-top: 10px;
}

.navbar .logo a:hover::before {
    width:0%;
}

.navbar .logo img {
    width: 70px;
}

/* HEADER: Navbar: Relativa länkar till de andra sidorna */
.navbar .links {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style-type: none;
    padding-right: 100px;
}

.navbar .toggle_btn { /* Förklaring */
    display: none;
    font-size:60px;
    padding-right: 32px;
}

/* HEADER: Navbar: Dropdown meny */
.dropdown_menu { /* Menyn blir till en dropdownmeny när skärmstorleken minskas */
    display: none;
    position: fixed;
    top: 100px;
    height: 0;
    width: 100%;
    background: #000;
    overflow: hidden; /* Förklaring */
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275) /* Förklaring */
}

.dropdown_menu.open { /* Förklaring */
   height: auto;
   z-index: 5;
}

.dropdown_menu li { /* Styling av länkarna */
    padding: 15px;
    list-style-type: none;
    font-size: 50px;
}

/* HEADER: Knapp "Till biljetter */
.button1 {
    position: relative;
    padding: 10px 25px;
    font-size: 18pt;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    background-color: #000;
    border-radius: 25px;
    border: none;
}

.button1 a {
    text-decoration: none;
    color: #fff;
}

.button1 a::before {
	content: '';
	position: absolute;
	top: 80%;
	left: 28px;
	width: 0;
	height: 2px;
	background: #fff;
	transition: .3s;
}

.button1 a:hover::before {
	width: 70%;
}

/* FOOTER */
footer {
  background-color: #000;
}

/* FOOTER: Stor container för socials + länkar */
.bigfootercontainer {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'norcopiapictures footernav socials'
}

/* FOOTER: Norcopia pictures */
.norcopiapictures {
    grid-area: norcopiapictures;
    margin-left: 9vw;
    margin-top: 5.5vw;
}

.norcopiapictures img {
    width: 10vw;
    height: auto;
}

/* FOOTER: Liten container för socials inom den stora containern */
.socials {
    grid-area: socials;
    margin-left: 10vw;
    margin-top: 7vw;
}

.socials img {
    width: auto;
    height: auto;
}

/* FOOTER: Liten container för länkar inom den stora containern */
.footernav {
    grid-area: footernav;
    margin-top: 60px;
    text-align: center;
}

.footernav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}

.footernav li{
    list-style-type: none; 
}

.footernav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2vw;
    padding-right: 20px;
}

.footernav a{
    position: relative;
}

.footernav a::before {
    content: '';
	position: absolute; 
	top: 100%;
	left: 0;
	width: 0;
	height: 2px;
	background: #fff;
	transition: .3s;
}

.footernav a:hover::before {
    width: 90%;
}

/* FOOTER: Copyright */
.smallfootercontainer {
    padding-top: 0.2vw;
    padding-bottom: 2vw;
    text-align: center;
}

/* FOOTER: Copyright: Text */
.copyright-text {
    font-size: 1.5vh;
    text-align: center;
}

/* FOOTER: Copyright: Namn */
.designer {
    font-size: 1.5vh;
    opacity:0.7;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    text-align: center;
}

/* Responsiv design för navbar och footer */

@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
        width: 100%;
    }
    .footernav ul{
        flex-direction: column;
        text-align: center;
        display: inline-block;
    }
    .footernav ul li{
        margin: 30px;
    }
    .footernav ul li a{
        font-size: 3vw;
    }
    .socials {
        display: inline-block;
        padding-top: 5vh;
    }
    .norcopiapictures img {
        width: 20vw;
        height: auto;
        padding-top: 4vh;
    }
    .copyright-text {
        font-size: 20px;
    }
    .designer {
        font-size: 20px;
    }
}

/*------------------------------STYLING AV INDEX-SIDA-----------------------------*/
.index-main {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
}

#section-one-indexsite {
    background-image: url(bilder/arbis-background.webp);
    background-size: cover;
    background-position: center center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-top: 10px;
    height: 100vh;
    width: auto;
    position: relative;
}

/* H2 */
#filmtitel {
    font-size: 6em;
    font-family: "baskerville-display-pt", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1vw;
}

/* Countdown */
.countdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: span 4;
    margin-left: 250px;
    margin-right: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "roboto", sans-serif;
    font-size: 12pt;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2pt;
}

/* Countdown: Text "DAGAR TIMMAR MINUTER SEKUNDER */
.countdown >span { /* Om en span är inuti .countdown ska den ha 60pt som fontsize, utan > får både .countdown + span 60pt i fontsize eller så får span "generell styling" */
    font-size: 8vw;
}

#nedraknare-dagar {
    grid-column: 1;
}

#nedraknare-timmar {
    grid-column: 2;
}

#nedraknare-minuter {
    grid-column: 3;
}

#nedraknare-sekunder {
    grid-column: 4;
}

/* Styling av scrollknapp */
.button-scroll-index {
    justify-content: center;
    background-color: transparent;
    border: none;
    margin-top: 140px;
}

.scrollknapp-index {
    margin: 3px;
    padding: 0px;
    margin: auto;
}

.down-arrow-index {
    width: 12vw;
    margin: 0;
    padding-top: 1vw;
    padding: 0px;
    margin: 0px;
}

/* Gradient */
#section-two-indexsite {
    background-color: #8b0101;
    background: linear-gradient(0deg, #8b0101 -20%, #010101 33%); /* deg = degrees/lutning av gradient) */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-empty-index {
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
    margin-top: 0px;
    padding: 0px;
}

#trailer {
    width: 60%;
    height: auto;
    padding-bottom: 500px;
    display: flex;
    flex-direction: column;
  }

video {
    width: 100%;
    height: auto;
}

/* Till biljetter knapp */
.button-index {
    padding-top: 2vw;
    justify-content: center;
    align-items: center;
}

.button1 {
    color:#fff;
    background-color: #931f1f;
}


@media(max-width: 992px) {
    #filmtitel {
        justify-content: center;
        align-items: center;
        grid-column: span 4;
        text-align: center;
        font-size: 10vw;
        padding-top: 10vw;
        padding-bottom: 2vw;
    }

    .countdown {
        display: grid;
        margin: 80px;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px;
        grid-template-areas: 
        'nedraknare-dagar'
        'dd'
        'nedraknare-timmar'
        'tt'
        'nedraknare-minuter'
        'mm'
        'nedraknare-sekunder'
        'ss';
        grid-gap: 100px;
        font-size: 30px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #nedraknare-dagar {
        grid-area: nedraknare-dagar;
        font-size: 120px;
     }

     #nedraknare-timmar {
        grid-area: nedraknare-timmar;
        font-size: 120px;
     }

     #nedraknare-minuter {
        grid-area: nedraknare-minuter;
        font-size: 120px;
     }

     #nedraknare-sekunder {
        grid-area: nedraknare-sekunder;
        font-size: 120px;
     }

     #dd {
        grid-area: dd;
        padding-top: 0px;
        margin-top: 0px;
     }

     #tt {
        grid-area: tt;
        padding-top: 0px;
        margin-top: 0px;
     }

     #mm {
        grid-area: mm;
        padding-top: 0px;
        margin-top: 0px;
     }

     #ss {
        grid-area: ss;
        padding-top: 0px;
        margin-top: 0px;
     }

    .button-index {
        padding-top: 80px;
        color:#fff;
        justify-content: center;
        align-items: center;
    }

    .button1 {
        position: relative;
        padding: 2vw 4vw;
        font-size: 5vw;
        font-family: "roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #fff;
        background-color: #931f1f;
        border-radius: 25vw;
        border: none;
    }

    .button1 a {
        text-decoration: none;
        color: #fff;
    }

    .button1 a::before {
        content: '';
        position: absolute;
        top: 80%;
        left: 28px;
        width: 0;
        height: 2px;
        background: #fff;
        transition: .3s;
    }

    .button1 a:hover::before {
        width: 70%;
    }

    /* Gradient */
    #section-two-indexsite {
    background-color: #8b0101;
    background: linear-gradient(0deg, #8b0101 -20%, #010101 35%); /* deg = degrees/lutning av gradient) */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    #trailer {
        width: 80%;
        height: auto;
    }
}

/*------------------------------STYLING AV STORY-SIDA-----------------------------*/

/* Grid */
.layout {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". . text-storyline text-storyline foto-kanin . ."
    ". . . button-scroll . . ."
    ". . . button-go-to . . ."
    ". . foto-lova text-lova text-lova . ."
    ". . text-elin text-elin foto-elin . ."
    ". . foto-tobias text-tobias text-tobias . ."
    ". . . . . . .";
    grid-gap: 100px;
}

.layout p {
    max-width: 50ch;
}

.text-storyline {
   grid-area: text-storyline;
}

#foto-kanin {
   grid-area: foto-kanin;
}

.scrollknapp-story {
    grid-area: button-scroll;
    margin-top: -100px;
}

#section-empty-story {
    grid-area: button-go-to;
}

#text-lova {
  grid-area: text-lova;
}

#foto-lova {
   grid-area: foto-lova;
}

#text-elin {
    grid-area: text-elin;
}

#foto-elin {
    grid-area: foto-elin;
}

#text-tobias {
    grid-area: text-tobias;
}

#foto-tobias {
  grid-area: foto-tobias;
}

.h2-storysite {
    font-size: 50pt;
}

.h3-storysite {
    font-size: 24pt;
    font-weight: 700;
}

#info-om-film {
    font-weight: 400;
    line-height: 40px;
    font-size: 16pt;
}

.p-storysite {
    font-size: 16pt;
    font-weight: 300;
    line-height: auto;
}

.ig-link-story {
    margin-top: 15px;
    width: 10%;
    height: auto;
}

.fb-link-story {
    margin-left: 10px;
    width: 10%;
    height: auto;
}

/* Styling av scrollknapp */
.button-scroll-story {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.scrollknapp-story {
    grid-area: button-scroll;
    padding-top: 3vw;
}

.down-arrow-story {
    width: 4vw;
    margin: 0;
    padding-top: 1vw;
    grid-area: button-scroll;
    padding: 0px;
    margin: 0px;
}

#gradient-story {
    width: 100vw;
    height: 40vh;
    background-color: #8b0101;
    background: linear-gradient(0deg, #8b0101 -20%, #010101 80%); /* deg = degrees/lutning av gradient) */
}

.bold {
    font-weight: 700;
}

@media(max-width: 992px) {
    .layout { 
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 40px;
    }    
    
    #info-om-film {
        font-size: 12px;
    }
    .p-storysite {
        margin-top: 50px;
        font-size: 18pt;
        width: 100%;
    }

    .down-arrow-story {
        justify-content: center;
        align-items: center;
    }
}

/*------------------------------STYLING AV BILJETT-SIDA-----------------------------*/

/* Gradient */
.body-biljetter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.body-biljetter::after {
    content: "";
    position: absolute;
    padding-bottom: 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.1%;
}

.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row {
    display: flex;
}

.biljetter-container1 {
    font-style: normal;
    text-align: center;
    font-weight: 400;
}

.rubrik-biljetter {
    font-family: "baskerville-display-pt", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45pt;
    margin-bottom: 0;
}

.ingress-biljetter {
    font-family: "roboto", sans-serif;
    font-size: 1.2vw;
    padding-bottom: 10pt;
    width: 50vw;
}

.seat.selected {
    background-color: #eadcc7;
}

.seat.occupied {
    background-color: #8b0101;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    display: flex;
    justify-content: space-between;
    background-color: #848484;
    padding: 5px 10px;
    border-radius: 50px;
    list-style-type: none;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 10px;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotatex(-45deg);
    box-shadow: 0 3px 10px;
}

.containerseats {
    perspective: 1000px;
    margin-bottom: 30px;
}
.seats-text {
    padding-bottom: 5px;
    font-size: 12pt;
}

.button-biljetter {
    margin-top: 20px;
}

/* Fortsätt knapp */
.button-fortsatt { 
    position: relative;
    padding: 10px 25px;
    font-size: 18pt;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    background-color: #931f1f;
    border-radius: 25px;
    border: none;
    }

.button-fortsatt a {
    text-decoration: none;
    color: #fff;
}

.button-fortsatt a::before {
    content: '';
    position: absolute;
    top: 80%;
    left: 28px;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
    }

.button-fortsatt a:hover::before {
    width: 60%;
}

/* Rubrik "Priser" */
.h3-priser {
    font-size: 20pt;
    margin-top: 60px;
    margin-bottom: 10px;
}

/* Text: Priser*/
.biljettpriser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'p-priser-typer p-priser-summa';
    grid-gap: 375px;
}

.p-priser-typer {
    font-family: "roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1.3px;
    text-align: left;
}

.p-priser-summa {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1.1px;
    word-spacing: 1px;
    text-align: right;
}

#gradient-biljetter {
    width: 100%;
    height: 30vh;
    background-color: #8b0101;
    background: linear-gradient(0deg, #8b0101 -20%, #010101 90%); /* deg = degrees/lutning av gradient) */
}

/* Responsiv design för biljettbokning */
@media(max-width: 992px) {
    .body-biljetter {
        font-size: 2vh;
    }
    .seat {
        width: 1.5vh;
        height: 1.5vh;
        margin: 6px;
        border-top-left-radius: 1.5vh;
        border-top-right-radius: 1.5vh;
    }
    .rubrik {
        font-size: 64pt;
    }
    .seat:nth-of-type(2) {
        margin-right: 4vh;
    }
    .seat:nth-last-of-type(2) {
        margin-left: 4vh;
    }
    .screen {
        height: 140px;
        width: 100%;
        margin: 15px 0;
    }
    #gradient-biljetter {
        height: 20vh;
    }
}

/*------------------------------STYLING AV KONTAKT-SIDA-----------------------------*/

.kontakta-oss {
    display: grid;
    grid-template-columns: 1fr 200px 400px 200px 1fr;
    grid-template-areas:
    ". . rubrik . ."
    ". . fragor . ."
    ". . . . ."
    ". telefon adress mail ."
    ". . . . .";
    text-align: center;
    grid-gap: 50px;
}

.kontakta-oss-rubrik {
    grid-area: rubrik;
	font-size: 2vw;
    font-weight: 700;
}

.kontaktfragor {
    grid-area: fragor;
    text-align: center;
    font-size: 1vw;
}

.kontakt-content p {
	font-weight: 300;
    font-size: 1.2vw;
}


.adress {
    grid-area: adress;
    font-size: 1vw;
    font-weight: 300;
}

.telefon {
    grid-area: telefon;  
}

.mail {
    grid-area: mail;
}

.kontaktinfo h2 {
    font-family: "bebas-neue-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2vw;
}

.adress-icon {
    width: 4vw;
}

.telefon-icon {
    width: 5vw;
}

.mail-icon {
    width: 7.5vw;
}

.kontaktinfo p {
    font-size: 1vw;
    font-weight: 300;
    line-height: 10px;
}

#gradient-kontakt {
    width: 100%;
    height: 40vh;
    background-color: #8b0101;
    background: linear-gradient(0deg, #8b0101 -20%, #010101 70%); /* deg = degrees/lutning av gradient) */
}
@media(max-width: 992px) {
    .kontakta-oss {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        margin: 50px;
    }

    .kontakta-oss-rubrik {
        grid-area: rubrik;
        font-size: 3vh;
        margin-top: 2vh;
    }

    .kontaktfragor {
        grid-area: fragor;
        text-align: center;
        font-size: 1em;
    }

    .adress {
        grid-area: adress;
        font-size: 0.5em;
        margin-top: 40px;
    }

    .telefon {
        grid-area: telefon;
        font-size: 0.5em;
    }

    .mail {
        grid-area: mail;
        font-size: 0.5em;
    }


    #gradient-kontakt {
        height: 20vh;
        width: 100%;
    }
}
