/*----------------------GENERELL STYLING FÖR HELA WEBBSIDAN-----------------------*/
/* HTML */
html {
    scroll-behavior: smooth;
  }
/* BODY */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex; 
    flex-direction: column;
    color: #fff;
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* MAIN */
main {
    width: 100%;
    margin: auto;
    margin: 0;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 8;
    background-color: #000;
    }

/* Relativa länkar */
header a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 2vw;
}

/* Linje som går under länkarna när man hovrar */
header a::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 0.2vw;
	background: #fff;
	transition: .3s;
}

/* Hur långt linjen sträcker sig i förhållande till ordet */
header a:hover::before {
	width: 100%;
}

/* HEADER: Navbar */
.navbar {
    width: 100%;
    height: 11vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Att det inte går en linje under logotypen trots att det är en länk */
.navbar .logo a:hover::before {
    width: 0%;
}

/* Skulptören logotyp div */
.navbar .logo {
    list-style-type: none;
    padding-left: 2vw;
}

/* Skulptören logotyp img */
.navbar .logo img {
    width: 5vw;
    padding-bottom: 4vh;
}

/* Relativa länkar (exklusive länken i logotypen) till de andra sidorna */
.navbar .nav-links {
    display: flex;
    align-items: center;
    gap: 4vw;
    list-style-type: none;
    padding-right: 3vw;
}

/* Toggle button vid mindre skärmar */
.navbar .toggle-btn {
    display: none;
    font-size: 4vw;
    padding-right: 3vw;
}

/* Dropdownmeny vid mindre skärmar */
.dropdown-menu {
    display: none;
    position: fixed;
    top: 5vh;
    height: 0;
    width: 100%;
    background: #000;
    overflow: hidden; /* Allt innehåll utanför elementets ram klipps bort och visas inte */
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275) /* Övergångseffekt */
}

/* Dropdownmeny vid mindre skärmar: När menyn är öppnad */
.dropdown-menu.open {
   height: auto;
   z-index: 5;
}

/* Dropdownmeny vid mindre skärmar: Styling av länkarna */
.dropdown-menu li {
    padding: 1vh;
    list-style-type: none;
    font-size: 5vw;
}

/* FOOTER */
footer {
  background-color: #000;
  height: 8vh;
}

/* Containter */
.footercontainer {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'footernav'
    'copyright';
    row-gap: 0vh;
}

/* Navbar */
.footernav {
    grid-area: footernav;
    margin-top: 6vh;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-size: 2vw;
    font-weight: 300;
}

/* Unordered list */
.footernav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* List items */
.footernav li{
    list-style-type: none; 
    padding-right: 3.8vw;
}

/* Relativa länkar */
.footernav a{
    position: relative;
}

/* Linje som går under när man hovrar */
.footernav a::before {
    content: '';
	position: absolute; 
	top: 100%;
	left: 0;
	width: 0;
	height: 0.2vh;
	background: #fff;
	transition: .3s;
}

/* Hur långt linjen sträcker sig i förhållande till ordet */
.footernav a:hover::before {
    width: 100%;
}

/* Copyright-container */
.copyright {
    padding-bottom: 0.2vh;
    margin: 0;
    text-align: center;
    grid-area: copyright;
}

/* Copyright-container: Text */
.copyright p {
    font-size: 0.8vw;
    text-align: center;
}

/* Copyright-container: Copyrightägares namn */
.designer {
    font-size: 0.8vw;
    opacity:0.7;
    font-weight: 400;
    margin: 0vw 0.5vw;
    text-align: center;
}

/* GENERELL STYLING: MOBILANPASSAD VERSION */
@media (max-width: 992px) {
.navbar .logo img {
        width: 6vw;
        padding-top: 2vh;
        padding-left: 1vw;
    }

    .navbar .nav-links {
        display: none;
    }
    
    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
        width: 100%;
    }

    .footernav {
        margin-top: 0;
    }
    
    .footernav ul{
        flex-direction: column;
        text-align: center;
        display: inline-block;
    }
    
    .footernav ul li{
        margin: 2vh;
    }
    
    .footernav ul li a{
        font-size: 3vw;
    }

    .copyright {
        margin-bottom: 1vh;
        margin-top: 0;
    }

    .copyright-text {
        font-size: 2vw;
        text-align: center;
    }
    
    .designer {
        font-size: 1.8vw;
        text-align: center;
    }
}

/*------------------------------STYLING AV INDEX-SIDA-----------------------------*/
/* MAIN INDEX (Egen main då denna skiljer sig från den generella css-stylingen av main */
.index-main {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
}

/* H2 */
.index-main h2 {
    font-size: 6vw;
    font-family: "baskerville-display-pt", serif;
    font-weight: 400;
    margin-bottom: 0.8vh;
}

/* SEKTION 1 */
#section-one-indexsite {
    background-image: url(bilder/arbis-background.webp);
    background-size: cover;
    background-position: center center;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    height: 100vh;
    width: auto;
    position: relative;
}

/* SEKTION 1: Countdown */
.countdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: span 4;
    margin-left: 15vw;
    margin-right: 15vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0.2vw;
    margin-top: 4vh;
}

/* SEKTION 1: Countdown: Text "DAGAR TIMMAR MINUTER SEKUNDER */
.countdown >span { /* Om en span är inuti .countdown ska den ha 8vw som fontsize, om det inte fanns en > hade både .countdown OCH span fått 8vw i fontsize alt. följer "generell styling" */
    font-size: 8vw;
}

#nedraknare-dagar {
    grid-column: 1;
}

#nedraknare-timmar {
    grid-column: 2;
}

#nedraknare-minuter {
    grid-column: 3;
}

#nedraknare-sekunder {
    grid-column: 4;
}

/* SEKTION 1: Scrollknapp div */
.scrollknapp-index {
    margin-top: 17vh;
}

/* SEKTION 1: Scrollknapp länk */
.button-scroll-index {
    justify-content: center;
    background-color: transparent;
    border: none;
}

/* SEKTION 1: Scrollknapp img */
.down-arrow-index {
    width: 12vw;
}

/* SEKTION empty (2) */
#section-empty-indexsite {
    display: flex;
    flex-direction: column;
    margin-bottom: 35vh;
    margin-top: 0vh;
    padding: 0vh;
}

/* SEKTION 3: Trailer, biljettknapp, gradient */
/* GRADIENT STORY */
#section-three-indexsite {
    background-color: #8b0101;
    background: linear-gradient(0deg, #8b0101 -20%, #010101 33%); /* deg = degrees/lutning av gradient) */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SEKTION 3: Trailer & biljettknapp div */
#trailer {
    width: 100%;
    height: auto;
    padding-bottom: 42vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* SEKTION 3: Trailer */
video {
    width: 40%;
    height: auto;
}

/* SEKTION 3: Biljettknapp */
/* SEKTION 3: Biljettknapp div */
.button-index {
    padding-top: 2vw;
}

/* SEKTION 3: Biljettknapp länk */
.button1 {
    position: relative;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    font-weight: 400;
    border-radius: 5vw;
    border: none;
    color:#fff;
    background-color: #931f1f;
}

/* SEKTION 3: Biljettknapp länk: Linje som går under när man hovrar */
.button-index a::before {
	content: '';
	position: absolute;
	top: 80%;
	left: 2vw;
	width: 0;
	height: 0.2vw;
	background: #fff;
	transition: .3s;
}

/* SEKTION 3: Biljettknapp länk: Hur långt linjen sträcker sig i förhållande till ordet */
.button-index a:hover::before {
	width: 65%;
}

/* INDEX: MOBILANPASSAD VERSION */
@media(max-width: 992px) {
#section-one-indexsite h2 {
    justify-content: center;
    align-items: center;
    grid-column: span 4;
    text-align: center;
    font-size: 10vw;
    padding-top: 10vh;
}

.countdown {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
    grid-template-areas: 
    'nedraknare-dagar'
    'dd'
    'nedraknare-timmar'
    'tt'
    'nedraknare-minuter'
    'mm'
    'nedraknare-sekunder'
    'ss';
    grid-gap: 6.3vw;
    font-size: 2.5vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

#nedraknare-dagar {
    grid-area: nedraknare-dagar;
    font-size: 10.5vw;
}

#nedraknare-timmar {
    grid-area: nedraknare-timmar;
    font-size: 10.5vw;
}

#nedraknare-minuter {
    grid-area: nedraknare-minuter;
    font-size: 10.5vw;
}

#nedraknare-sekunder {
    grid-area: nedraknare-sekunder;
    font-size: 10.5vw;
}

#dd {
    grid-area: dd;
    padding-top: 0;
    margin-top: 0;
}

#tt {
    grid-area: tt;
    padding-top: 0;
    margin-top: 0;
}

#mm {
    grid-area: mm;
    padding-top: 0;
    margin-top: 0;
}

#ss {
    grid-area: ss;
    padding-top: 0;
    margin-top: 0;
}

.button-index {
    padding-top: 6.8vw;
    color:#fff;
    justify-content: center;
    align-items: center;
}

.button1 {
    position: relative;
    padding: 2vw 4vw;
    font-size: 3vw;
    font-weight: 400;
    background-color: #931f1f;
    border-radius: 25vw;
    border: none;
}

.button1 a {
    text-decoration: none;
}

.button1 a::before {
    content: '';
    position: absolute;
    top: 80%;
    left: 2vw;
    width: 0;
    height: 0.2vw;
    background: #fff;
    transition: .3s;
}

.button1 a:hover::before {
    width: 70%;
}

.scrollknapp-index {
    margin-top: 6vh;
}

.down-arrow-index {
    width: 30vw;
}

#section-three-indexsite {
    background-color: #8b0101;
    background: linear-gradient(0deg, #8b0101 -20%, #010101 35%); /* deg = degrees/lutning av gradient) */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    width: 80vw;
    height: auto;
}
}

/*------------------------------STYLING AV STORY-SIDA-----------------------------*/

/* Grid */
.layout {
    justify-content: center;
    margin-top: 0vh;
    display: grid;
	grid-template-columns: auto auto auto;
    grid-template-areas: 
    'text-storyline text-storyline foto-kanin'
    '. button-scroll .'
    'foto-lova text-lova text-lova'
    'text-elin text-elin foto-elin'
    'foto-tobias text-tobias text-tobias';
	padding: 0vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

/* Styling avtext till storyline */
.text-storyline {
   grid-area: text-storyline;
   width: 38vw;
   margin-top: 3.8vw;
   margin-left: 6.7vw;
}

/* Anpassad plats för att följa linjer */
#foto-kanin {
   grid-area: foto-kanin;
   margin-top: 0.1vh;
   margin-left: 3vw;
}

#foto-kanin-id {
    width: 30vw;
}

#foto-lova-id {
    width: 30vw;
}

#foto-elin-id {
    width: 30vw;
}

#foto-tobias-id {
    width: 30vw;
}

/* Text lova */
#text-lova {
  grid-area: text-lova;
  padding-top: 15vh;
  width: 38vw;
  margin-left: 3vw;
}

/*Foto Lova */
#foto-lova {
   grid-area: foto-lova;
   padding-top: 11vh;
   margin-left: 5.5vw;
}

/* Hover effekt: Förstoring */
#foto-lova img {
    transition: 1s ease;
}

#foto-lova img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
    }

   
/* Hover effekt: Förstoring */
#foto-elin img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
    }
    
#foto-elin img {
    transition: 1s ease;
}

/* Text Elin */
#text-elin {
    grid-area: text-elin;
    padding-top: 3vh;
    width: 38vw;
    margin-left: 6.5vw;
}

/* Foto ELin */ 
#foto-elin {
    grid-area: foto-elin;
    padding-top: 3.4vh;
    margin-left: 3vw;
}

/* Hover effekt: Förstoring */
#foto-tobias img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
    }

 #foto-tobias img {
    transition: 1s ease;
}

/* Text Tobias */
#text-tobias {
    grid-area: text-tobias;
    padding-top: 3vh;
    width: 38vw;
    margin-left: 3vw;
}

/* Foto Tobias */
#foto-tobias {
  grid-area: foto-tobias;
  padding-top: 3.4vh;
  margin-left: 5.8vw;
}

/* Rubrik */
.h2-storysite {
    font-size: 2.2vw;
}

/* Rubrik */
.h3-storysite {
    font-size: 2vw;
}

/* Styöing till kort info om film */
#info-om-film {
    font-weight: 400;
    line-height: 1.6vw;
    font-size: 1vw;
}

/* Styling av de längre paragraferna */
.p-storysite {
    max-width: 100vw;
    font-size: 1.2vw;
    font-weight: 300;
    line-height: 1.8vw;
}

/* Länk till instagram */
.ig-link-story {
    margin-top: 1.3vh;
    width: 10%;
    height: auto;
}

/* Länk till Facebook */
.fb-link-story {
    margin-left: 0.6vw;
    width: 10%;
    height: auto;
}

/* Styling av scrollknapp */
.button-scroll-story {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

/* Knappen scrollar dig nedåt */
.scrollknapp-story {
    grid-area: button-scroll;
    padding-top: 3.4vh;
}

/* Pil som pekar nedat för att indikera scrollfunktion */ 
.down-arrow-story {
    width: 4vw;
    margin: 0;
    padding-top: 1vw;
    grid-area: button-scroll;
    padding: 0vw;
    margin: 0vw;
}

/* GRADIENT STORY */
#section-gradient-story {
    width: 100%;
    height: 40vh;
    background-color: #8b0101;
    background: linear-gradient(0deg, #8b0101 -20%, #010101 80%); /* deg = degrees/lutning av gradient) */
}

/* STORY: MOBILANPASSAD VERSION */
@media(max-width: 992px) {
    .layout { 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }    
    
    .p-storysite {
        max-width: 30vh;
        font-size: 3vw;
        line-height: 2.1vh;
    }

    .h2-storysite {
        font-size: 5vw;
    }

    .h3-storysite {
        font-size: 4vw;
    }

    #info-om-film {
        font-size: 2.5vw;
        line-height: 1.8vh;
    }

    .scrollknapp-story {
        padding-top: 1.2vh;
    }
    
    .down-arrow-story {
        width: 7vw;
    }

    #foto-lova {
        padding-top: 20vh;
        margin-bottom: 1vh;
     }

    #text-lova {
    padding-top: 1vh;
  }

  #foto-lova-id {
    width: 40vw;
    }

#foto-elin-id {
    width: 40vw;
    }

#foto-tobias-id {
    width: 40vw;
    }

  .ig-link-story {
    width: 10vw;
    padding-left: 4.5vw;
    }

.fb-link-story {
    width: 10vw;
    padding-left: 4.5vw;
    }

#section-gradient-story {
    width: 100%;
    height: 10vh;
    }
}

/*------------------------------STYLING AV BILJETT-SIDA-----------------------------*/
/* Section ett */
#section-one-biljetter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Styling av platser */
.seat {
    background-color: #444451;
    height: 1.8vh;
    width: 1.2vw;
    margin: 0.2vw;
    border-top-left-radius: 0.7vw;
    border-top-right-radius: 0.7vw;
}

/* Rader för platsbokning */
.row {
    display: flex;
}

.biljetter-container1 {
    text-align: center;
    font-weight: 400;
}

/* Sektion ett: Rubrik */
#section-one-biljetter h2 {
    font-family: "baskerville-display-pt", serif;
    font-weight: 400;
    font-size: 4.5vw;
    margin-bottom: 0.8vh;
}

/* Ingress för biljetter */
.ingress-biljetter {
    font-size: 1.2vw;
    width: 50vw;
    margin-top: 0vh;
}

/* Vald plats */
.seat.selected {
    background-color: #eadcc7;
}

/* Upptagen plats */
.seat.occupied {
    background-color: #8b0101;
}

.seat:nth-of-type(2) {
    margin-right: 1.3vw;
}

.seat:nth-last-of-type(2) {
    margin-left: 1.3vw;
}

/* Sätet är valbart och har en hover-effekt */
.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}
/* Visar vald eller upptagen plats */
.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    display: flex;
    justify-content: space-between;
    background-color: #848484;
    padding: 0.3vw 0.8vw;
    border-radius: 4,2vw;
    list-style-type: none;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.7vw;
}

.showcase li small {
    margin-left: 0.7vw;
}
/* Bioduken */
.screen {
    background-color: #fff;
    height: 9vh;
    width: 100%;
    margin: 1.3vw 0;
    transform: rotatex(-45deg);
    box-shadow: 0 0.3vw 0.8vw;
}
/* Container med säten */
.containerseats {
    perspective: 84vh;
    margin-bottom: 2.5vh;
}

/* Berättar hur många säten du har valt */
.seats-text {
    padding-bottom: 0.4vh;
    font-size: 1.2vw;
}


/* Fortsätt knapp */
.button-fortsatt { 
    position: relative;
    padding: 0.8vh 2.1vh;
    font-size: 1.5vw;
    font-weight: 400;
    background-color: #931f1f;
    border-radius: 2.1vw;
    border: none;
    }
/* Klickbar knapp som ej leder någonstans */
.button-biljetter {
    margin-top: 1.7vh;
}

/* Linje som går under när man hovrar */
.button-biljetter a {
    text-decoration: none;
}

.button-biljetter a::before {
    content: '';
    position: absolute;
    top: 80%;
    left: 1.3vw;
    width: 0;
    height: 0.2vh;
    background: #fff;
    transition: .3s;
    }

/* Hur långt linjen sträcker sig i förhållande till ordet */
.button-biljetter a:hover::before {
    width: 60%;
}

/* Rubrik "Priser" */
.h3-priser {
    font-size: 1.8vw;
    margin-top: 5vh;
    margin-bottom: 0.8vh;
}

/* Text: Priser */
.biljettpriser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'p-priser-typer p-priser-summa';
    grid-gap: 26.5vw;
}

/* Katigorisering av priser */
.p-priser-typer {
    font-weight: 800;
    font-size: 1.3vw;
    letter-spacing: 0.11vw;
    text-align: left;
}

/* Prissumma */
.p-priser-summa {
    font-weight: 400;
    font-size: 1.3vw;
    letter-spacing: 0.11vw;
    text-align: right;
}

/* GRADIENT BILJETTER */
#section-gradient-biljetter {
    width: 100%;
    height: 30vh;
    background-color: #8b0101;
    background: linear-gradient(0deg, #8b0101 -20%, #010101 90%); /* deg = degrees/lutning av gradient) */
}

/* BILJETTER: MOBILANPASSAD VERSION */
@media(max-width: 992px) {
    .body-biljetter {
        font-size: 2vh;
    }


    #section-one-biljetter h2 {
        font-size: 8vw;
        margin-bottom: 0.2vh;
}

    .ingress-biljetter {
        font-size: 2.8vw;
        width: 50vw;
        margin-top: 0.5vh;
}

    .seat {
        width: 1.5vh;
        height: 1.5vh;
        margin: 0.4vh;
        border-top-left-radius: 1.5vh;
        border-top-right-radius: 1.5vh;
    }

    .rubrik {
        font-size: 64pt;
    }

    .seat:nth-of-type(2) {
        margin-right: 4vh;
    }

    .seat:nth-last-of-type(2) {
        margin-left: 4vh;
    }

    .screen {
        height: 12vh;
        width: 100%;
        margin: 1.5vw 0;
    }

    #section-gradient-biljetter {
        height: 10vh;
    }
}

/*------------------------------STYLING AV KONTAKT-SIDA-----------------------------*/
/* BODY */
body .kontakt {
    display: flex;
    place-items: center;
}
/* BODY: Länkar */
body a {
    text-decoration: none;
    color: #fff;
}
/* KONTAKTA OSS */
#kontakta-oss {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
/* KONTAKTA OSS: Rubrik */
#kontakta-oss h2 {
    text-align: center;
    justify-content: center;
	font-size: 2.7vw;
    margin-top: 6.8vh;
}

/* ADRESS TILL GNEMA */
.adress p {
    font-size: 1vw;
    font-weight: 300;
}

/* KONTAKTINFO */
.kontaktinfo h2 {
    font-family: "bebas-neue-pro", sans-serif;
    font-weight: 600;
    font-size: 2vw;
    margin-bottom: 2vh;
}

.kontakt-content p {
	font-weight: 300;
    text-align: center;
    font-size: 1.2vw;
}

.kontaktinfo {
    display: grid;
    grid-template-columns: 17vw 17vw 17vw;
    grid-template-areas:
    'adress' 'telefon' 'mail';
    justify-content: center;
    margin-top: 4.2vh;
    text-align: center;
}

.kontaktinfo p {
    font-size: 1vw;
    font-weight: 300;
    line-height: 0.8vh;
}

.contact-icon {
    width: 6vw;
}

/* BILD: Norcopiapictures */
img {
    width: 16vw;
    margin-top: 5vh;
}

/* GRADIENT KONTAKTSIDA*/
#gradient-kontakt {
    width: 100%;
    height: 40vh;
    background-color: #8b0101;
    background: linear-gradient(0deg, #8b0101 -20%, #010101 70%); /* deg = degrees/lutning av gradient) */
}

/* KONTAKT: MOBILANPASSAD VERSION */
@media(max-width: 992px) {
    #kontakta-oss h2 {
        font-size: 7vw;
    }

    .kontakt-content p {
        font-size: 2.3vw;
    }

    .kontaktinfo {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 10vw 60vw 10vw;
        grid-template-areas:
        '. adress .'
        '. telefon .'
        '. mail .';
        justify-content: center;
        align-items: center;
        grid-gap: 1vh;
    }

    .contact-icon {
        width: 15vw;
    }

    .kontaktinfo h2 {
        font-size: 6vw;
    }

    .kontaktinfo p {
        font-size: 3vw;
        line-height: 1.2vh;
    }

    .adress {
        grid-area: adress;
        margin: 0;
        padding: 0;
    }

    .telefon {
        grid-area: telefon;
        margin: 0;
        padding: 0;
    }

    .mail {
        grid-area: mail;
        margin: 0;
        padding: 0;
    }

    #gradient-kontakt {
        width: 100%;
        height: 10vh;
        background: linear-gradient(0deg, #8b0101 -20%, #010101 80%); /* deg = degrees/lutning av gradient) */
    }

}
